body {
    font-family: 'Roboto', sans-serif;
    background: #a8ff78;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(288, 97%, 71%, 0.678), hsla(99, 100%, 74%, 0.685)), url(https://cdn.andro4all.com/files/2020/08/Mejores-apps-audiolibros.jpg?width=1200);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(182, 94%, 69%, 0.678), hsla(278, 100%, 81%, 0.685)), url(https://cdn.andro4all.com/files/2020/08/Mejores-apps-audiolibros.jpg?width=1200);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

header{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}

.plan {
    background-color: rgba(54, 216, 231, 0.316);
    border: 5px solid rgb(5, 5, 255);
    box-shadow: inset 0 0 30px  blue;
    border-radius: 60px;
    text-align: center;}
    .boton1 {
        text-decoration:none;
        border-radius: 55px;
        font: weight 300px;
        font-size:20px;
        color:#050404;
        padding-top:15px;
        padding-bottom:15px;
        padding-left:150px;
        padding-right:150px;
        background-color:#3385ff;
        text-shadow: 0 0 10px red, 0 0 15px red;}
            
    